html{
    background: #f3f5fc;
    width: 1440px;
    height: 1024px;
}

header, main{
    width: 100vw;
    height: 6rem;
    display: flex;
}

.logo{
    position:absolute;
    width: 31.09px;
    height: 48px;
    padding-top: 40px ;
    padding-left: 84px;
}

.Input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: red;
    size: 100vw;
    
}

.inputSinEncriptar{
    height: 48px;
    width: 577px;
    margin-top: 168px;
    margin-left: 240px;
}