html{
    background: #f3f5fc;
    width: 1440px;
    height: 1024px;
}

.logo{
    position:absolute;
    width: 31.09px;
    height: 48px;
    padding-top: 40px ;
    padding-left: 84px;
}

.inputSinEncriptar{
    position: absolute;
    background: #f3f5fc;
    width: 577px;
    height: 48px;
    margin-top: 168px;
    margin-left: 240px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-size: 32px;
    font-weight: 400px;
    line-height: 150%;
    color: #0A3871;
}

.inputSinEncriptar::placeholder{
    color: #0A3871;
}


.rectSalida{
    position: absolute;
    width: 400px;
    height: 944px;
    border: none;
    border-radius: 32px;
    margin: 40px 40px 40px 1000px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    background-color: white;
}